<%- include('partials/page-start.html') %>

<h1>Listado de Tasks</h1>
<p>Filtrar tareas:</p>
<nav>
    <a href="/tasks?status=all">Todas las tareas</a>
    <a href="/tasks?status=pending">Pendientes</a>
    <a href="/tasks?status=done">Finalizadas</a>
</nav>
<ul>
    <% if ( tasks.length === 0 ) { %>
        <li>No se han encontrado tareas</li>
    <% } else {
        tasks.forEach((task) => {
    %>
            <%- include( 'partials/components/task-component.html', { task: task } ) %>
    <% })
    } %>
</ul>

<%- include('partials/page-end.html') %>